<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.lib.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <application android:theme="@style/Theme.AppCompat.Dark.FullScreen">
    <!--  Ridiculous way to hack around gmail not sending attachments that are not on the SDCard -->
        <provider android:name="cc.lib.android.EmailHelper"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>
