**/bin/
**/gen/
**/.DS_Store
**/.classpath
**/.settings/
**/*.class
**/.idea
**/.recommenders
**/.metadata
**/*.iml
**/build/
**/.gradle
captures
./*.txt
*.save
**/.run*
**/android.jks
local.properties
/todelete/
.kotlin
