**/bin/
**/gen/
**/.DS_Store
**/.classpath
**/.settings/
**/*.class
**/.idea
**/.recommenders
**/.metadata
**/*.iml
**/build/
**/.gradle
**/gradlew*
**/gradle/
captures
./*.txt
*.save
**/android.jks
local.properties
/todelete/
