<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cc.android.scorekeeper"
          android:versionCode="1"
          android:versionName="1.0" >

  <application
    android:allowBackup="true"
    android:icon="@drawable/mtg_icon"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >

    <activity android:name=".Splash"
              android:theme="@style/CustomSplashTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

      <activity
          android:name=".ScoreKeeper"
          android:screenOrientation="sensor"
          android:launchMode="singleTask"
          android:configChanges="orientation" />

      <activity
          android:name=".BlindsKeeper"
          android:screenOrientation="sensor"
          android:launchMode="singleTask"
          android:configChanges="orientation">

      </activity>

  </application>

</manifest>
