<?xml version="1.0" encoding="UTF-8" ?>
<!-- If you Add / Edit / Change the xml format, delete xmlserversesc.bin so
     it gets regenrated on next run of StandaloneServer -->
<socserver>

    <!-- Set colors availble for clients to choose from -->
	<colors>
		<color name="Red" 		r="255" g="0", b="0"/>
		<color name="Green" 	r="0" g="255", b="0"/>
		<color name="Blue" 		r="0" g="0", b="255"/>
		<color name="Cyan" 		r="0" g="255", b="255"/>
		<color name="Magenta" 	r="255" g="0", b="255"/>
		<color name="Yellow" 	r="255" g="255", b="0"/>		
	</colors>

    <!-- server configs -->
	<server 
		numPlayers="2" 
		joinTimeout="30"
		inactivityTimeout="0"
		board="soc_def_board.txt"
		/>

    <!-- client configs -->
    <client
        pingFreq="1000"
        />
</socserver>