<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0">

<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true" />
    <uses-feature android:name="android.hardware.wifi.direct" android:required="false"/>
    
    
    <application >
        <activity android:name=".MainActivity"
                  android:icon="@drawable/cmcfamicon"
                  android:screenOrientation="portrait"
                  android:label="CC Games"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <activity android:name=".RoboActivity"
                  android:label="@string/robolabel"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
                  android:configChanges="keyboardHidden|orientation"> 
        </activity>
        <activity android:name=".soc.SOCActivity"
                  android:label="@string/soclabel"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".robo.DebugPreferences"
                  android:configChanges="orientation|keyboardHidden"
                  android:clearTaskOnLaunch="true" 
                  android:label="Debug Preferences">
        </activity>
        <activity android:name=".kaiser.KaiserActivity"
                  android:label="@string/kaiserlabel"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".golf.GolfActivity"
                  android:label="@string/golflabel"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".wifi.WiFiDirectActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask">
        </activity>                
        <activity
            android:name=".DatagramTestActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>     
        <activity android:name=".yahtzee.YahtzeeActivity"
                  android:label="Yahtzee"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
                       
        		
        <!-- Used for transferring files  after a successful connection -->
        <service android:enabled="false" android:name=".wifi.FileTransferService" />
        
	</application>
</manifest>